<html>
    
    <head>
        <title>Dashboard</title>
    </head>

    <body>
        <div class="jumbotron centered-vertical-axis"> 
            <div class="container">

                <h1> Welcome, <%=@username%> </h1>

                <form action="/sessions/delete" method="POST">
                    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                    <button type="submit" name="submit" class="btn btn-primary">Log out</button>
                </form>
            </div>
        </div>

    </body>

</html>