// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login-notice
{
    margin-top: 5rem;
}

.centered-vertical-axis
{
    display: flex;
    align-items: center;
}